venv/
__pycache__/
.env
.git
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
node_modules/
venv/
.git/
.gitignore
__pycache__/
*.pyc
.env # Por seguridad, aunque se usa en compose, es mejor no incluirlo en la imagen final
